body {
  background-color: rgb(0, 0, 0);
}

header {
  background-color: rgb(0, 0, 0);
  height: 100px;
}

header img {
  padding-top: 30px;
  width: 200px;
}

.wrapper {
  padding-left: 50px;
}

h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

section > div {
  display: flex;
  overflow: scroll;
  padding-bottom: 20px;
}

section > div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
section > div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

section img {
  height: 200px;
}
